@layout LoginLayout
@page "/"
@using BlazorApp3.Components.Layout

<div class="login-container">
    <div class="login-message">
        <h1>Welcome to BTEC, the international training environment</h1>
        <p class="sub-message">Please log in to access your dashboard</p>
        <a href="Account/Login" class="login-link">Login</a>
        <p class="sub-message1">If you do not have an account, click <a href="Account/Register" class="login-link">register</a></p>
    </div>
</div>